<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.knime.workbench.repository.nodes">
      <node
      	    category-path="/labs/statistics"
      	    factory-class="org.knime.base.node.stats.testing.kolmogorovsmirnov.KolmogorovSmirnovTestNodeFactory" >
      </node>
      <node
            category-path="/labs/statistics"
            factory-class="org.knime.base.node.stats.testing.friedman.FriedmanTestNodeFactory"/>
      <node
            category-path="/labs/statistics"
            factory-class="org.knime.base.node.stats.testing.proportion.ProportionTestNodeFactory"/>
      <node
            after="org.knime.base.node.stats.kaplanmeier.KaplanMeierNodeFactory"
            category-path="/labs/statistics"
            deprecated="true"
            factory-class="org.knime.base.node.stats.contingencytable.ContingencyTableNodeFactory"/>
      <node
            after="org.knime.base.node.stats.shapirowilk2.ShapiroWilk2NodeFactory"
            category-path="/labs/statistics"
            factory-class="org.knime.base.node.stats.testing.kruskalwallis.KruskalWallisNodeFactory">
      </node>
      <node
            after="org.knime.base.node.stats.testing.kruskalwallis.KruskalWallisNodeFactory"
            category-path="/labs/statistics"
            factory-class="org.knime.base.node.stats.testing.wilcoxonmannwhitney.WilcoxonMannWhitneyNodeFactory">
      </node>
      <node
            after="org.knime.base.node.stats.testing.wilcoxonmannwhitney.WilcoxonMannWhitneyNodeFactory"
            category-path="/labs/statistics"
            deprecated="true"
            factory-class="org.knime.base.node.stats.testing.wilcoxonsignedrank.WilcoxonSignedRankNodeFactory">
      </node>
      <node 
      		category-path="/labs/statistics"
            factory-class="org.knime.base.node.stats.lda.LDANodeFactory" 
            />
      <node
            after="org.knime.base.node.stats.contintable.mediantest.MedianTestNodeFactory"
            category-path="/labs/statistics"
            factory-class="org.knime.base.node.stats.agreement.blandaltmanplot.BlandAltmanPlotNodeFactory"/>
      <node
            after="org.knime.base.node.stats.lda.LDANodeFactory"
            category-path="/labs/statistics"
            deprecated="true"
            factory-class="org.knime.base.node.stats.shapirowilk.ShapiroWilkNodeFactory">
      </node>
      <node
            after="org.knime.base.node.stats.lda.LDANodeFactory"
            category-path="/labs/statistics"
            deprecated="false"
            factory-class="org.knime.base.node.stats.shapirowilk2.ShapiroWilk2NodeFactory">
      </node>
      <node
            after="org.knime.base.node.stats.testing.wilcoxonsignedrank2.WilcoxonSignedRankNodeFactory"
            category-path="/labs/statistics"
            deprecated="true"
            factory-class="org.knime.base.node.stats.kaplanmeier.KaplanMeierNodeFactory">
      </node>
      <node
            after="org.knime.base.node.stats.contintable.oddriskratio.OddsRiskRatio2NodeFactory"
            category-path="/labs/statistics"
            deprecated="false"
            factory-class="org.knime.base.node.stats.contintable.mediantest.MedianTestNodeFactory">
      </node>
      <node
            after="org.knime.base.node.stats.kaplanmeier2.KaplanMeierNodeFactory"
            category-path="/labs/statistics"
            deprecated="true"
            factory-class="org.knime.base.node.stats.contintable.oddriskratio.OddsRiskRatioNodeFactory">
      </node>
      <node
            after="org.knime.base.node.stats.kaplanmeier2.KaplanMeierNodeFactory"
            category-path="/labs/statistics"
            deprecated="false"
            factory-class="org.knime.base.node.stats.contintable.oddriskratio.OddsRiskRatio2NodeFactory">
      </node>
      <node
            after="org.knime.base.node.stats.testing.wilcoxonmannwhitney.WilcoxonMannWhitneyNodeFactory"
            category-path="/labs/statistics"
            factory-class="org.knime.base.node.stats.testing.wilcoxonsignedrank2.WilcoxonSignedRankNodeFactory">
      </node>
      <node
            after="org.knime.base.node.stats.testing.wilcoxonsignedrank2.WilcoxonSignedRankNodeFactory"
            category-path="/labs/statistics"
            deprecated="false"
            factory-class="org.knime.base.node.stats.kaplanmeier2.KaplanMeierNodeFactory">
      </node>
   </extension>
   <extension point="org.knime.workbench.repository.categories">
      <category
            icon="icons/category_statistics.png"
            level-id="statistics"
            name="Statistics"
            path="/labs/"/>
   </extension>
   <extension
         point="org.knime.js.core.webResources">
      <webResourceBundle
            debug="true"
            name="Bland-Altman Plot"
            version="1.0.0"
            webResourceBundleID="org.knime.base.node.stats.agreement.blandaltmanplot.bundle">
         <webResource
               relativePathSource="js-src/org/knime/base/node/stats/agreement/blandaltmanplot/"
               relativePathTarget="org/knime/base/node/stats/agreement/blandaltmanplot/">
         </webResource>
         <webDependency
               webResourceBundleID="jsFreeChart_0.5">
         </webDependency>
         <importResource
               relativePath="org/knime/base/node/stats/agreement/blandaltmanplot/knime-bland-altman-plot.js"
               type="JAVASCRIPT">
         </importResource>
      </webResourceBundle>
      <webResourceBundle
            debug="true"
            name="Kaplan-Meier Plot"
            usesDefine="false"
            version="1.0"
            webResourceBundleID="org.knime.base.node.stats.kaplanmeier.bundle">
         <webResource
               relativePathSource="js-src/org/knime/base/node/stats/kaplanmeier/"
               relativePathTarget="org/knime/base/node/stats/kaplanmeier/">
         </webResource>
         <webDependency
               webResourceBundleID="D3_3.2.8">
         </webDependency>
         <importResource
               relativePath="org/knime/base/node/stats/kaplanmeier/kmplot.js"
               type="JAVASCRIPT">
         </importResource>
         <webDependency
               webResourceBundleID="KnimeTable_1.0.0">
         </webDependency>
      </webResourceBundle>
   </extension>
   <extension
         point="org.knime.js.core.javascriptComponents">
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.base.node.stats.agreement.blandaltmanplot.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_base_node_stats_agreement_blandaltmanplot"
            name="Bland-Altman Plot"
            namespace="knime_bland_altman_plot"
            validate-method-name="validate">
      </javascriptComponent>
      <javascriptComponent
            getComponentValue-method-name="getComponentValue"
            implementationBundleID="org.knime.base.node.stats.kaplanmeier.bundle"
            init-method-name="init"
            javascriptComponentID="org_knime_base_node_stats_kaplanmeierplot"
            name="Kaplan-Meier Plot"
            namespace="kmplot_namespace"
            setValidationError-method-name="setValidationError"
            validate-method-name="validate">
      </javascriptComponent>
   </extension>
</plugin>
